<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anhuay.strategy.dao.IrregularConnectionDao">

	<select id="get" resultType="com.anhuay.strategy.domain.IrregularConnectionDO">
		select `id`,`templet_id`,`monitor_status`,`alarm_id`,`probe_address`,`alarm_server`,`alarm_province_place_id`,`alarm_city_place_id`,`status`,`create_time`,`update_time` from ahy_irregular_connection where id = #{value}
	</select>

	<select id="list" resultType="com.anhuay.strategy.domain.IrregularConnectionDO">
		select `id`,`templet_id`,`monitor_status`,`alarm_id`,`probe_address`,`alarm_server`,`alarm_province_place_id`,`alarm_city_place_id`,`status`,`create_time`,`update_time` from ahy_irregular_connection
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="templetId != null and templetId != ''"> and templet_id = #{templetId} </if>
		  		  <if test="monitorStatus != null and monitorStatus != ''"> and monitor_status = #{monitorStatus} </if>
		  		  <if test="alarmId != null and alarmId != ''"> and alarm_id = #{alarmId} </if>
		  		  <if test="probeAddress != null and probeAddress != ''"> and probe_address = #{probeAddress} </if>
		  		  <if test="alarmServer != null and alarmServer != ''"> and alarm_server = #{alarmServer} </if>
		  		  <if test="alarmProvincePlaceId != null and alarmProvincePlaceId != ''"> and alarm_province_place_id = #{alarmProvincePlaceId} </if>
		  		  <if test="alarmCityPlaceId != null and alarmCityPlaceId != ''"> and alarm_city_place_id = #{alarmCityPlaceId} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ahy_irregular_connection
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="templetId != null and templetId != ''"> and templet_id = #{templetId} </if>
		  		  <if test="monitorStatus != null and monitorStatus != ''"> and monitor_status = #{monitorStatus} </if>
		  		  <if test="alarmId != null and alarmId != ''"> and alarm_id = #{alarmId} </if>
		  		  <if test="probeAddress != null and probeAddress != ''"> and probe_address = #{probeAddress} </if>
		  		  <if test="alarmServer != null and alarmServer != ''"> and alarm_server = #{alarmServer} </if>
		  		  <if test="alarmProvincePlaceId != null and alarmProvincePlaceId != ''"> and alarm_province_place_id = #{alarmProvincePlaceId} </if>
		  		  <if test="alarmCityPlaceId != null and alarmCityPlaceId != ''"> and alarm_city_place_id = #{alarmCityPlaceId} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.anhuay.strategy.domain.IrregularConnectionDO">
		insert into ahy_irregular_connection
		(
			`id`, 
			`templet_id`, 
			`monitor_status`, 
			`alarm_id`, 
			`probe_address`, 
			`alarm_server`, 
			`alarm_province_place_id`, 
			`alarm_city_place_id`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{id}, 
			#{templetId}, 
			#{monitorStatus}, 
			#{alarmId}, 
			#{probeAddress}, 
			#{alarmServer}, 
			#{alarmProvincePlaceId}, 
			#{alarmCityPlaceId}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.anhuay.strategy.domain.IrregularConnectionDO">
		update ahy_irregular_connection 
		<set>
			<if test="templetId != null">`templet_id` = #{templetId}, </if>
			<if test="monitorStatus != null">`monitor_status` = #{monitorStatus}, </if>
			<if test="alarmId != null">`alarm_id` = #{alarmId}, </if>
			<if test="probeAddress != null">`probe_address` = #{probeAddress}, </if>
			<if test="alarmServer != null">`alarm_server` = #{alarmServer}, </if>
			<if test="alarmProvincePlaceId != null">`alarm_province_place_id` = #{alarmProvincePlaceId}, </if>
			<if test="alarmCityPlaceId != null">`alarm_city_place_id` = #{alarmCityPlaceId}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update ahy_irregular_connection set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update ahy_irregular_connection set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from ahy_irregular_connection where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ahy_irregular_connection where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>