<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anhuay.strategy.dao.OsStrategyDao">

	<select id="get" resultType="com.anhuay.strategy.domain.OsStrategyDO">
		select `id`,`templet_id`,`templet_name`,`os_ids`,`os_names`,`status`,`create_time`,`update_time` from ahy_os_strategy where id = #{value}
	</select>

	<select id="list" resultType="com.anhuay.strategy.domain.OsStrategyDO">
		select `id`,`templet_id`,`templet_name`,`os_ids`,`os_names`,`status`,`create_time`,`update_time` from ahy_os_strategy
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="templetId != null and templetId != ''"> and templet_id = #{templetId} </if>
		  		  <if test="templetName != null and templetName != ''"> and templet_name = #{templetName} </if>
		  		  <if test="osIds != null and osIds != ''"> and os_ids = #{osIds} </if>
		  		  <if test="osNames != null and osNames != ''"> and os_names  LIKE CONCAT('%',#{osNames},'%') </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ahy_os_strategy
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="templetId != null and templetId != ''"> and templet_id = #{templetId} </if>
		  		  <if test="templetName != null and templetName != ''"> and templet_name = #{templetName} </if>
		  		  <if test="osIds != null and osIds != ''"> and os_ids = #{osIds} </if>
		  		  <if test="osNames != null and osNames != ''"> and os_names  LIKE CONCAT('%',#{osNames},'%') </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
	</select>
	 
	<insert id="save" parameterType="com.anhuay.strategy.domain.OsStrategyDO" useGeneratedKeys="true" keyProperty="id">
		insert into ahy_os_strategy
		(
			`templet_id`, 
			`templet_name`, 
			`os_ids`, 
			`os_names`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{templetId}, 
			#{templetName}, 
			#{osIds}, 
			#{osNames}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.anhuay.strategy.domain.OsStrategyDO">
		update ahy_os_strategy 
		<set>
			<if test="templetId != null">`templet_id` = #{templetId}, </if>
			<if test="templetName != null">`templet_name` = #{templetName}, </if>
			<if test="osIds != null">`os_ids` = #{osIds}, </if>
			<if test="osNames != null">`os_names` = #{osNames}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update ahy_os_strategy set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update ahy_os_strategy set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from ahy_os_strategy where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ahy_os_strategy where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>