<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anhuay.strategy.dao.StrategyTempletDao">

	<select id="get" resultType="com.anhuay.strategy.domain.StrategyTempletDO">
		select `id`,`templet_name`,`templet_desc`,`templet_type`,`os_audit_id`,`irregular_connection_id`,`device_control_id`,`disk_record_id`,`asset_management_id`,`soft_distribute_id`,`status`,`create_time`,`update_time` from ahy_strategy_templet where id = #{value}
	</select>

	<select id="list" resultType="com.anhuay.strategy.domain.StrategyTempletDO">
		select `id`,`templet_name`,`templet_desc`,`templet_type`,`os_audit_id`,`irregular_connection_id`,`device_control_id`,`disk_record_id`,`asset_management_id`,`soft_distribute_id`,`status`,`create_time`,`update_time` from ahy_strategy_templet
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="templetName != null and templetName != ''"> and templet_name LIKE CONCAT('%',#{templetName},'%')  </if>
		  		  <if test="templetDesc != null and templetDesc != ''"> and templet_desc = #{templetDesc} </if>
		  		  <if test="templetType != null and templetType != ''"> and templet_type = #{templetType} </if>
		  		  <if test="osAuditId != null and osAuditId != ''"> and os_audit_id = #{osAuditId} </if>
		  		  <if test="irregularConnectionId != null and irregularConnectionId != ''"> and irregular_connection_id = #{irregularConnectionId} </if>
		  		  <if test="deviceControlId != null and deviceControlId != ''"> and device_control_id = #{deviceControlId} </if>
		  		  <if test="diskRecordId != null and diskRecordId != ''"> and disk_record_id = #{diskRecordId} </if>
		  		  <if test="assetManagementId != null and assetManagementId != ''"> and asset_management_id = #{assetManagementId} </if>
		  		  <if test="softDistributeId != null and softDistributeId != ''"> and soft_distribute_id = #{softDistributeId} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ahy_strategy_templet
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="templetName != null and templetName != ''"> and templet_name = #{templetName} </if>
		  		  <if test="templetDesc != null and templetDesc != ''"> and templet_desc = #{templetDesc} </if>
		  		  <if test="templetType != null and templetType != ''"> and templet_type = #{templetType} </if>
		  		  <if test="osAuditId != null and osAuditId != ''"> and os_audit_id = #{osAuditId} </if>
		  		  <if test="irregularConnectionId != null and irregularConnectionId != ''"> and irregular_connection_id = #{irregularConnectionId} </if>
		  		  <if test="deviceControlId != null and deviceControlId != ''"> and device_control_id = #{deviceControlId} </if>
		  		  <if test="diskRecordId != null and diskRecordId != ''"> and disk_record_id = #{diskRecordId} </if>
		  		  <if test="assetManagementId != null and assetManagementId != ''"> and asset_management_id = #{assetManagementId} </if>
		  		  <if test="softDistributeId != null and softDistributeId != ''"> and soft_distribute_id = #{softDistributeId} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.anhuay.strategy.domain.StrategyTempletDO">
		insert into ahy_strategy_templet
		(
			`id`, 
			`templet_name`, 
			`templet_desc`, 
			`templet_type`, 
			`os_audit_id`, 
			`irregular_connection_id`, 
			`device_control_id`, 
			`disk_record_id`, 
			`asset_management_id`, 
			`soft_distribute_id`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{id}, 
			#{templetName}, 
			#{templetDesc}, 
			#{templetType}, 
			#{osAuditId}, 
			#{irregularConnectionId}, 
			#{deviceControlId}, 
			#{diskRecordId}, 
			#{assetManagementId}, 
			#{softDistributeId}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.anhuay.strategy.domain.StrategyTempletDO">
		update ahy_strategy_templet 
		<set>
			<if test="templetName != null">`templet_name` = #{templetName}, </if>
			<if test="templetDesc != null">`templet_desc` = #{templetDesc}, </if>
			<if test="templetType != null">`templet_type` = #{templetType}, </if>
			<if test="osAuditId != null">`os_audit_id` = #{osAuditId}, </if>
			<if test="irregularConnectionId != null">`irregular_connection_id` = #{irregularConnectionId}, </if>
			<if test="deviceControlId != null">`device_control_id` = #{deviceControlId}, </if>
			<if test="diskRecordId != null">`disk_record_id` = #{diskRecordId}, </if>
			<if test="assetManagementId != null">`asset_management_id` = #{assetManagementId}, </if>
			<if test="softDistributeId != null">`soft_distribute_id` = #{softDistributeId}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update ahy_strategy_templet set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update ahy_strategy_templet set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from ahy_strategy_templet where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ahy_strategy_templet where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>