
<html>
<head>

</head>
<body>
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Server-Sent Events Servlet example</h3>
      </div>

      <div class="jumbotron">
        <h1>Update Date</h1>
        <p><button class="btn btn-lg btn-success" onclick="start()">Start</button></p>
        <p><button class="btn btn-lg btn-success" onclick="start2()">Start2</button></p>
        <p><button class="btn btn-lg btn-success" onclick="start3()">Start3</button></p>
      </div>

    <p>Time: <span id="time"></span></p>

    </div>
<div id ="test">aaaaaaaaaaaaa</div>
<input type="button" value="关闭" id="closebtn" />
    <script>
    function start() {
        var eventSource = new EventSource("abc");
        debugger;
        eventSource.onmessage = function(event) {
            document.getElementById('time').innerHTML = event.data;
        };
    }
    function start2() {
        var eventSource = new EventSource("abc2");
        debugger;
        eventSource.onmessage = function(event) {
        	
        	console.log(event.data);
            document.getElementById('time').innerHTML = event.data;
        };
    }
    function start3() {
        var eventSource = new EventSource("conn");
        debugger;
        eventSource.onmessage = function(event) {
        	
        	console.log(event.data);
            document.getElementById('time').innerHTML = event.data;
        };
    }
    
    
    if ("EventSource" in window) {
        
        //var source = new EventSource("http://localhost:3000/eventsource/auto");
        
        for (var i=0;i<10;i++)
        {
            
            var id = "sse_content"+i;
            var source = new EventSource("abc");
            var html = '<div id="' +id + '">aaaa'+i+'aaaa</div>';
            document.getElementById("test").innerHTML+=html;
            abc(source,id);
        }
        
        
       
        var closebtn = document.getElementById("closebtn");
        closebtn.addEventListener("click", function () {
            source.close();
        });
    } else {
        alert("不支持");
    }
    
    
    function abc(source,id){
        
        source.addEventListener("open", function (evt) { 
            // … 
        }, false);
        source.addEventListener("error", function (evt) {
            // handle error event 
        }, false);
        source.addEventListener("msg", function (evt) { 
            //var data = event.data; 
            //var origin = event.origin; 
            //var lastEventId = event.lastEventId; 
            data = evt.data;
            
            if(data != null&& data != undefined){
            	 document.getElementById(id).innerHTML += "\n" + data;
            }
            
           
            //document.getElementById(id).append( "\n" + data);
        }, false); 
        
    }
    </script>
</body>
</html>