<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<!-- <button shiro:hasPermission="audit:log:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="audit:log:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button> -->
							<button type="button" class="btn  btn-success" id="test1" >
                                <i class="" aria-hidden="true"></i>导入Xml
                            </button>
							<button type="button" class="btn  btn-success" onclick="exportExcel()">
                                <i class="" aria-hidden="true"></i>导出Excel
                            </button>
							<button type="button" class="btn  btn-success" onclick="exportXml()">
                                <i class="" aria-hidden="true"></i>导出Xml
                            </button>
						</div>
						<!-- <div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div> -->
						<div class="columns pull-right nopadding" style="float: right;text-align: right;">
						<table style="text-align: right;">
						
						<tr>
						<td>
						  <input id="startTime"  AUTOCOMPLETE="off" class="form-control" type="text" name="startTime" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'});" placeholder="开始时间" style="width:150px;float: right;margin-right: 5px;"/>
						</td>
						<td><input id="endTime"  AUTOCOMPLETE="off" class="form-control" type="text" name="endTime" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'});" placeholder="结束时间"  style="width:150px;float: right;margin-right: 5px;"/>
						</td>
						<td><input id="osIp"  AUTOCOMPLETE="off" class="form-control" type="text" name="osIp" placeholder="主体IP"  style="width:150px;float: right;margin-right: 5px;"/>
						</td>
						<td><select data-placeholder="--事件种类--" name="type" style="width:150px;margin-right: 5px;"
                                        id="type" class="form-control">
                                        <option value="" >--事件种类--</option>
                                        <option value="m">管理操作</option>
                                        <option value="a">用户</option>
                                        <option value="s">其它</option>
                                    </select></td>
                        <td><input id="searchName" type="text" class="form-control" style="width:190px;float: right;margin-right: 5px;"
                                placeholder="事件内容"></td>
                                <td><div class="columns pull-right">
                            &nbsp;&nbsp;<button class="btn btn-success" onclick="reLoad()">查询</button>
                        </div></td>
						</table>
							<input id="industryType" type="hidden" class="form-control" >
							
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="audit:log:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="audit:log:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="audit:log:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript" type="text/javascript">
        // <![CDATA[
                var type = [[${type}]];
        // ]]>
        
    </script>
	<script type="text/javascript" src="/js/appjs/audit/log/log.js"></script>
	<script src="/js/layui.js"></script>
	<script type="text/javascript">
// 	function exportXML() {
// 		layer.confirm('确定要导入日志，导入后相同数据将被覆盖？', {
// 			btn : [ '确定', '取消' ]
// 		}, function() {alert();
		    layui.use('upload', function () {
		        var upload = layui.upload;
		        //执行实例
		        var uploadInst = upload.render({
		            elem: '#test1', //绑定元素
		            url: '/audit/log/upload', //上传接口
		            size: 1000,
		            accept: 'file',
		            done: function (r) {
		                layer.msg(r.msg);
//		                 app.getData();
		            },
		            error: function (r) {
		                layer.msg(r.msg);
		            }
		        });
		    });
// 		})
// 	}

	</script>
</body>
</html>