<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${osStrategy.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">模板编号：</label>
								<div class="col-sm-8">
									<input id="templetId" name="templetId" th:value="${osStrategy.templetId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">主机编号：</label>
								<div class="col-sm-8">
									<input id="osIds" name="osIds" th:value="${osStrategy.osIds}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">主机名称：</label>
								<div class="col-sm-8">
									<input id="osNames" name="osNames" th:value="${osStrategy.osNames}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<input id="status" name="status" th:value="${osStrategy.status}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${osStrategy.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" th:value="${osStrategy.updateTime}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/strategy/osStrategy/edit.js">
	</script>
</body>
</html>
