<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anhuay.os.dao.PersonLiableDao">

	<select id="get" resultType="com.anhuay.os.domain.PersonLiableDO">
		select `id`,`dept_id`,`dept_name`,`person_liable_name`,`phone`,`remark`,`status`,`create_time`,`update_time` from ahy_person_liable where id = #{value}
	</select>

	<select id="list" resultType="com.anhuay.os.domain.PersonLiableDO">
		select `id`,`dept_id`,`dept_name`,`person_liable_name`,`phone`,`remark`,`status`,`create_time`,`update_time` from ahy_person_liable
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
		  		  <if test="deptName != null and deptName != ''"> and dept_name = #{deptName} </if>
		  		  <if test="personLiableName != null and personLiableName != ''"> and person_liable_name = #{personLiableName} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ahy_person_liable
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
		  		  <if test="deptName != null and deptName != ''"> and dept_name = #{deptName} </if>
		  		  <if test="personLiableName != null and personLiableName != ''"> and person_liable_name = #{personLiableName} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
	</select>
	 
	<insert id="save" parameterType="com.anhuay.os.domain.PersonLiableDO">
		insert into ahy_person_liable
		(
			`id`, 
			`dept_id`, 
			`dept_name`, 
			`person_liable_name`, 
			`phone`, 
			`remark`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{id}, 
			#{deptId}, 
			#{deptName}, 
			#{personLiableName}, 
			#{phone}, 
			#{remark}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.anhuay.os.domain.PersonLiableDO">
		update ahy_person_liable 
		<set>
			<if test="deptId != null">`dept_id` = #{deptId}, </if>
			<if test="deptName != null">`dept_name` = #{deptName}, </if>
			<if test="personLiableName != null">`person_liable_name` = #{personLiableName}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update ahy_person_liable set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update ahy_person_liable set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from ahy_person_liable where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ahy_person_liable where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>