<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anhuay.system.dao.UserIpDao">

	<select id="get" resultType="com.anhuay.system.domain.UserIpDO">
		select `id`,`visitor_ip`,`error_count`,`lock_time`,`remark`,`status`,`create_time`,`update_time` from sys_user_ip where id = #{value}
	</select>

	<select id="list" resultType="com.anhuay.system.domain.UserIpDO">
		select `id`,`visitor_ip`,`error_count`,`lock_time`,`remark`,`status`,`create_time`,`update_time` from sys_user_ip
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="visitorIp != null and visitorIp != ''"> and visitor_ip = #{visitorIp} </if>
		  		  <if test="errorCount != null and errorCount != ''"> and error_count = #{errorCount} </if>
		  		  <if test="lockTime != null and lockTime != ''"> and lock_time = #{lockTime} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_user_ip
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="visitorIp != null and visitorIp != ''"> and visitor_ip = #{visitorIp} </if>
		  		  <if test="errorCount != null and errorCount != ''"> and error_count = #{errorCount} </if>
		  		  <if test="lockTime != null and lockTime != ''"> and lock_time = #{lockTime} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
	</select>
	 
	<insert id="save" parameterType="com.anhuay.system.domain.UserIpDO" useGeneratedKeys="true" keyProperty="id">
		insert into sys_user_ip
		(
			`visitor_ip`, 
			`error_count`, 
			`lock_time`, 
			`remark`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{visitorIp}, 
			#{errorCount}, 
			#{lockTime}, 
			#{remark}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.anhuay.system.domain.UserIpDO">
		update sys_user_ip 
		<set>
			<if test="visitorIp != null">`visitor_ip` = #{visitorIp}, </if>
			<if test="errorCount != null">`error_count` = #{errorCount}, </if>
			<if test="lockTime != null">`lock_time` = #{lockTime}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update sys_user_ip set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update sys_user_ip set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from sys_user_ip where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_user_ip where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<update id="unLockAll">
        update sys_user_ip set error_count = 0,lock_time=0 where 1=1
    </update>

</mapper>