<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">

<style>
</style>
</head>



<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-11">
				<div class="ibox">
					<div class="ibox-body">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#tab-1"><i
									class="fa fa-file-text"></i>主机审计</a></li>
							<li class=""><a data-toggle="tab" href="#tab-2"><i
									class="fa fa-briefcase"></i>违规外联</a></li>
							<li class=""><a data-toggle="tab" href="#tab-3"><i
									class="fa fa-briefcase"></i>设备控制</a></li>
							<li class=""><a data-toggle="tab" href="#tab-3"><i
									class="fa fa-briefcase"></i>光盘刻录</a></li>
							<li class=""><a data-toggle="tab" href="#tab-3"><i
									class="fa fa-briefcase"></i>资产管理</a></li>
							<li class=""><a data-toggle="tab" href="#tab-3"><i
									class="fa fa-briefcase"></i>软件分发</a></li>

							<li class=""><button type="button" onclick="save()" class="btn btn-primary"
									style="margin-left: 100px;">保存全部策略设置</button></li>
						</ul>



						<div class="tab-content">
							<div id="tab-1" class="tab-pane active">

								<div class="bootstrap-table">
									<div class="fixed-table-toolbar">
										<div class="bars pull-left"></div>
									</div>
									<div class="fixed-table-container" style="padding-bottom: 0px;">
										<div class="fixed-table-body">
											<table data-mobile-responsive="true" id="exampleTable"
												class="table table-hover table-striped">

												<tbody>
													<tr data-index="0">
														<td style="text-align: right;">进程监控审计：</td>
														<td style="border-left-width: 0px;"><div
																class="ibox-content">
																<form class="form-horizontal m-t" id="processMonitorForm">

																	<div class="form-group">
																		<label class="col-sm-2 control-label">进程黑名单：</label>
																		<div class="switch  col-sm-1">
																			<div class="onoffswitch">
																				<!--  checked="" --><input id="process_black_status" name="process_black_status"
																					type="checkbox" value="1"
																					class="onoffswitch-checkbox"> <label
																					class="onoffswitch-label" for="process_black_status"> <span
																					class="onoffswitch-inner"></span> <span
																					class="onoffswitch-switch"></span>
																				</label>
																			</div>
																		</div>
																	</div>
																	<div class="form-group">
																		<label class="col-sm-2 control-label">进程黑名单控制：</label>
																		<div class="col-sm-8">
																			<textarea id="process_black_rules" name="process_black_rules"
																				class="form-control"></textarea>
																			(黑名单中进程可能因为保护无法停止;输入内容为进程名,它们之间用<font color="red">半角逗号</font>分隔,如vi,gedit)
																		</div>
																	</div>

																	<div class="form-group">
																		<label class="col-sm-2 control-label">进程白名单：</label>
																		<div class="switch  col-sm-1">
																			<div class="onoffswitch">
																				<input id="process_white_status" name="process_white_status"
																					type="checkbox" value="1"
																					class="onoffswitch-checkbox"> <label
																					class="onoffswitch-label" for="process_white_status"> <span
																					class="onoffswitch-inner"></span> <span
																					class="onoffswitch-switch"></span>
																				</label>
																			</div>
																		</div>
																	</div>
																	<div class="form-group">
																		<label class="col-sm-2 control-label">进程白名单控制：</label>
																		<div class="col-sm-8">
																			<textarea id="process_white_rules" name="process_white_rules"
																				class="form-control"></textarea>
																			(输入内容为进程名,它们之间用<font color="red">半角逗号</font>分隔,如vi,gedit)
																		</div>
																	</div>

																	<div class="form-group">
																		<label class="col-sm-2 control-label">报警级别：</label>
																		<div class="col-sm-8">
																			<select data-placeholder="--选择类别--"
																				name="process_alarm_level" id="process_alarm_level"
																				class="form-control chosen-select" tabindex="2"
																				required>
																				<option value="">--选择类别--</option>
																			</select>
																		</div>
																	</div>
																</form>
															</div></td>
													</tr>

													<tr data-index="0">
														<td style="text-align: right;">服务监控审计：</td>
														<td style="border-left-width: 0px;"><div
																class="ibox-content">
																<form class="form-horizontal m-t" id="serverMonitorForm">

																	<div class="form-group">
																		<label class="col-sm-2 control-label">服务黑名单(禁止运行的服务)：</label>
																		<div class="switch  col-sm-1">
																			<div class="onoffswitch">
																				<input id="server_black_status" name="server_black_status"
																					type="checkbox" value="1"
																					class="onoffswitch-checkbox"> <label
																					class="onoffswitch-label" for="server_black_status"> <span
																					class="onoffswitch-inner"></span> <span
																					class="onoffswitch-switch"></span>
																				</label>
																			</div>
																		</div>
																	</div>
																	<div class="form-group">
																		<label class="col-sm-2 control-label">服务黑名单控制：</label>
																		<div class="col-sm-8">
																			<textarea id="server_black_rules" name="server_black_rules"
																				class="form-control"></textarea>
																			(黑名单中进程可能因为保护无法停止;输入内容为进程名,它们之间用<font color="red">半角逗号</font>分隔,如vi,gedit)
																		</div>
																	</div>

																	<div class="form-group">
																		<label class="col-sm-2 control-label">服务白名单(必需运行的服务)：</label>
																		<div class="switch  col-sm-1">
																			<div class="onoffswitch">
																				<input id="server_white_status" name="server_white_status"
																					type="checkbox" value="1"
																					class="onoffswitch-checkbox"> <label
																					class="onoffswitch-label" for="server_white_status"> <span
																					class="onoffswitch-inner"></span> <span
																					class="onoffswitch-switch"></span>
																				</label>
																			</div>
																		</div>
																	</div>
																	<div class="form-group">
																		<label class="col-sm-2 control-label">服务白名单控制：</label>
																		<div class="col-sm-8">
																			<textarea id="server_white_rules" name="server_white_rules"
																				class="form-control"></textarea>
																			(输入内容为进程名,它们之间用<font color="red">半角逗号</font>分隔,如vi,gedit)
																		</div>
																	</div>

																	<div class="form-group">
																		<label class="col-sm-2 control-label">网络连接(目的地址)黑名单检测：</label>
																		<div class="switch  col-sm-1">
																			<div class="onoffswitch">
																				<input id="server_connection_black_status" name="server_connection_black_status"
																					type="checkbox" value="1"
																					class="onoffswitch-checkbox"> <label
																					class="onoffswitch-label" for="server_connection_black_status"> <span
																					class="onoffswitch-inner"></span> <span
																					class="onoffswitch-switch"></span>
																				</label>
																			</div>
																		</div>
																	</div>

																	<div class="form-group">
																		<label class="col-sm-2 control-label">IP/域名地址：</label>
																		<div class="col-sm-2">
																			<input class="form-control" id="server_connection_black_ip"
																				name="server_connection_black_ip" type="text">
																		</div>
																		<label class="col-sm-1 control-label">端口号：</label>
																		<div class="col-sm-2">
																			<input class="form-control" id="server_connection_black_ports"
																				name="server_connection_black_ports" type="text">
																		</div>
																		<button
																			class="btn btn-success waves-effect waves-light"
																			onclick="saveServerConnectionBlackAddress()" type="button">添加</button>
																		<div>
																			<label class="col-sm-2 control-label"></label>&nbsp;&nbsp;&nbsp;&nbsp;("IP/域名地址"配置中可填写目的地址的IP或域名配置,一个地址可对应多个端口号,之间用<font
																				color="red">半角逗号</font>分隔)
																		</div>
																		<label class="col-sm-2 control-label"></label>
																		<div class="col-sm-8">
																			<textarea id="server_connection_black_addresses" name="server_connection_black_addresses"
																				class="form-control"></textarea>
																			
																		</div><span><button
																				class="btn btn-success waves-effect waves-light"
																				onclick="save(0)" type="button">移除</button></span>
																	</div>

																	<div class="form-group">
																		<label class="col-sm-2 control-label">报警级别：</label>
																		<div class="col-sm-8">
																			<select data-placeholder="--选择类别--"
																				name="server_alarm_level" id="server_alarm_level"
																				class="form-control chosen-select" tabindex="2"
																				required>
																				<option value="">--选择类别--</option>
																			</select>
																		</div>
																	</div>
																</form>
															</div></td>
													</tr>



													<tr>
														<td></td>
													</tr>
													<tr>
														<td></td>
													</tr>
													<tr>
														<td></td>
													</tr>
													<tr>
														<td></td>
													</tr>






												</tbody>
											</table>
										</div>


									</div>
								</div>

							</div>
							<div id="tab-2" class="tab-pane ">
								<table id="exampleTable2" data-mobile-responsive="true"></table>
							</div>
							<div id="tab-3" class="tab-pane ">
								<table id="exampleTable3" data-mobile-responsive="true"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="act:process:edit">
			<script type="text/javascript">
				var s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="act:process:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="act:process:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>

	<!-- <div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">模板名称：</label>
								<div class="col-sm-8">
									<input id="templetName" name="templetName" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">模板描述：</label>
								<div class="col-sm-8">
									<input id="templetDesc" name="templetDesc" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">主机审计编号：</label>
								<div class="col-sm-8">
									<input id="osAuditId" name="osAuditId" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">违规外联编号：</label>
								<div class="col-sm-8">
									<input id="irregularConnectionId" name="irregularConnectionId"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">设备控制编号：</label>
								<div class="col-sm-8">
									<input id="deviceControlId" name="deviceControlId"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">光盘刻录编号：</label>
								<div class="col-sm-8">
									<input id="diskRecordId" name="diskRecordId"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">资产管理编号：</label>
								<div class="col-sm-8">
									<input id="assetManagementId" name="assetManagementId"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">软件分发编号：</label>
								<div class="col-sm-8">
									<input id="softDistributeId" name="softDistributeId"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<input id="status" name="status" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div th:include="include::footer"></div>
	<script type="text/javascript"
		src="/js/appjs/strategy/strategyTemplet/add.js">
		
	</script>
</body>
</html>
